################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication2/Debug
/ConsoleApplication2/.vs/ConsoleApplication2/v15
