################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication2/Debug
/ConsoleApplication2/.vs/ConsoleApplication2/v15
/ConsoleApplication2/log20190715-180528.12828
/ConsoleApplication2/log20190715-180522.14376
/ConsoleApplication2/log20190715-180338.9784
/ConsoleApplication2/log20190715-174300.11756
/ConsoleApplication2/log20190715-174212.12536
/ConsoleApplication2/log20190715-174149.15732
/ConsoleApplication2/log20190715-174123.1948
/ConsoleApplication2/log20190715-174044.18860
/ConsoleApplication2/log20190715-173829.16248
